@import "tailwindcss";


/*Login*/
.main {
    @apply min-h-screen flex items-center justify-center bg-[#73AF6F] bg-gradient-to-t from-green-400 to-green-800 p-4;
}

.container {
    @apply w-full max-w-md bg-[#FFFDF6] rounded-lg shadow-lg p-8;
}

.logo {
    @apply inline-flex items-center justify-center w-16 h-16 rounded-full bg-green-600 text-white text-2xl font-bold mb-4;
}

/*.error {
    @apply mb-6 p-3 rounded-lg bg-red-50 border border-red-200 text-red-700 text-sm;
}*/

.role {
    @apply w-full bg-white px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-colors;
}

.password {
    @apply w-full bg-white px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent pr-10 transition-colors;
}

.showBtn {
    @apply absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700 transition-colors;
}

.rememberChk {
    @apply h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-2;
}

.loginBtn {
    @apply w-full bg-green-500 hover:bg-green-700 text-white font-semibold py-3 px-4 rounded-lg transition-colors disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center;
}
/*Login*/


/*NavBar*/

/*NavBar*/


/*Dashboard*/

/*Dashboard*/


/**/

/**/